html{
	min-height: 100%;
}

body{
	min-height: 100%;
	background: url(../img/backgr.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 10px;
}


header{
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 15px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

.logo{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button{
	list-style: none;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;

	color: #000000;

	display: inline-flex;
	line-height: 0;
}

.undhead{
	height: 298px;
    background: url(../img/undhead2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    margin: 0 15px;
}

.content{
	background: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 15px 15px;
	margin: 0 15px;
	position: relative;
	padding: 0 65px;
	text-align: center;
}

h1{
	
	font-family: 'Gravitas One';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	text-align: center;

	color: #000000;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer{
	border-radius: 15px 15px 0px 0px;
	background: #FFFFFF;
	padding: 25px 10px;
}

.footxt{
	font-family: 'Itim';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	

	color: #000000;
	text-align: center;
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	color: #0ac998;
}

li{
	width: 100px;
}

.person{
	background: rgba(196, 196, 196, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	display: inline-block;
   	margin: 15px 20px;
    flex-direction: column;
    align-items: center;
}

.ivan{
	width: 315px;
	height: 236px;

	background: url(../img/ivan.jpg);
	border-radius: 15px;
	background-size: cover;
	background-position: center;
	margin: 32px 32px;
}

.roma{
	width: 315px;
	height: 236px;

	background: url(../img/roma.jpg);
	border-radius: 15px;
	background-size: cover;
	margin: 32px 32px;
}

.artem{
	width: 315px;
	height: 236px;

	background: url(../img/artem.jpg);
	border-radius: 15px;
	background-size: cover;
	background-position: center;
	margin: 32px 32px;
}

.valera{
	width: 315px;
	height: 236px;

	background: url(../img/valera.jpg);
	border-radius: 15px;
	background-size: cover;
	background-position: top;
	margin: 32px 32px;
}
.danil{
	width: 315px;
	height: 236px;

	background: url(../img/danil.jpg);
	border-radius: 15px;
	background-size: cover;
	background-position: top;
	margin: 32px 32px;
}

.andrei{
	width: 315px;
	height: 236px;

	background: url(../img/andrei.jpg);
	border-radius: 15px;
	background-size: cover;
	background-position: center;
	margin: 32px 32px;
}
