html{
	min-height: 100%;
}

body{
	min-height: 100%;
	background: url(../img/backgr.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 10px;
}


header{
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 15px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

.logo{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;

	color: #000000;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button{
	list-style: none;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;

	color: #000000;

	display: inline-flex;
	line-height: 0;
}

.undhead{
	height: 298px;
    	background: url(../img/undhead.jpg);
    	background-size: cover;
    	background-position: center;
    	border-radius: 15px 15px 0px 0px;
    	margin: 0 15px;
}

.content{
	background: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 15px 15px;
	margin: 0 15px;
	position: relative;
}

h1{
	
	font-family: 'Gravitas One';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	text-align: center;

	color: #000000;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abtxt{
	background: rgba(196, 196, 196, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	margin: 20px 20px;
    	padding: 10px 10px;
	
    	font-family: 'Gravitas One';
    	font-style: normal;
   	font-weight: 400;
    	font-size: 25px;
    	color: #000000;

}

footer{
	border-radius: 15px 15px 0px 0px;
	background: #FFFFFF;
	padding: 0 10px;
}

.footxt{
	font-family: 'Itim';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	

	color: #000000;
	text-align: center;
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	color: #0ac998;
}

.abtitle{
	margin: 0 0;
}

li{
	width: 100px;
}
