html{
    min-height: 100%;
}

body{
    min-height: 100%;
    background-image: url(https://avatars.mds.yandex.net/get-zen_doc/195350/pub_5c128c295233f000a94987ee_5c128c3a7c9de200aac7a854/scale_1200);
    font-size: 25px;
}

li{
    list-style: none;
    color: beige;
    font-family: cursive;
}

/* img{
    width:250px;
} */